.text-field-danger {
    -fx-background-color: #721c24; /* Light red background */
    -fx-border-color: #f5c6cb;    /* Red border */
    -fx-text-fill: white;       /* Dark red text */
}

.error {
    -fx-background-color: rgba(255, 0, 0, 0.3); /* Rouge clair pour indiquer une erreur */
}

.valid {
    -fx-background-color: transparent; /* Arrière-plan transparent pour conserver l'apparence par défaut */
}